<h1 id="header">Baseball News!</h1>
<div class="row">
    <div class="col s6 offset-s3">
        <div class="card grey lighten-2 center-align">
            <div class="card-content">
                <a class="waves-effect waves-light btn" id="index" href="/">Go Browse Articles</a>
            </div>
        </div>
    </div>
</div>
<!-- Pass in data from server.js -->
<div id="article-container">
    <div class="row">
        <div class="col s6 offset-s3">
            {{#each articles}}
            <div class="card grey lighten-2 center-align" id="article-card">
                <div class="card-content" id="card-text">
                    <p><span class="label ">Title:</span> {{this.headline}}</p>
                </div>
                <div class="card-action">
                    <a href="{{this.url}}" id="link" target="_blank">Go To Article</a>
                    <a class="note-button" id="note-button">Article Notes</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>