#header{
    text-align: center;
    color: #86324c;
}

body{
    background-image: url(./images/mlb.jpg);
    background-repeat: repeat; 
}

#card-text{    
    font-weight: bold;
    color: #1e3257;
}

#link{
    color: #86324c;
    font-weight: bold;
}

#saved, #scrape{
    color: #86324c;
    background-color: #1e3257;
    font-weight: bold;
}
